.sectionContainer {
    width: 400px;
    min-height: 450px;
    background: #f7f9fc;
    margin: 0 15px 10px 0;
}

.controlSection {
    height: 40px;
    background: blue;
    margin-bottom: 10px;
}