$galleryHeight: 400px;
$galleryPadding: 50px;
$mediaMaxWidth: $galleryHeight*2 + 20 + $galleryPadding*2;

:global {
  .container {
    border: 1px solid blue;
    height: $galleryHeight;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .item {
      width: 50px;
      height: 50px;
      background-color: red;
    }
  }
}


.container {
  padding: $galleryPadding;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: $mediaMaxWidth) {
    justify-content: center;
  }
}