$galleryHeight: 400px;
$galleryPadding: 20px;
$mediaMaxWidth: $galleryHeight*2 + 20 + $galleryPadding*2;

:global {
  * {
    font-family: "Times New Roman", Georgia, Serif;
  }
  body {
    margin: 0 !important;
  }
  .container {
    border: 1px solid blue;
    height: $galleryHeight;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .item {
      width: 50px;
      height: 50px;
      background-color: red;
    }
  }
  #specialFont {
    font-size: 0.8em;
  }
}


.container {
  padding: $galleryPadding;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: $mediaMaxWidth) {
    justify-content: center;
  }
}

$bgColor: #586dfe;
.createGallery {
  height: 60px;
  background-color: $bgColor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  box-shadow: 0 8px 6px -6px black;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  &:active {
    box-shadow: 0 0 0 0;
  }

  span {
    color: white;
    font-size: 1.7em;
    text-decoration: none;
  }
}
